MMLibrarySystem/MMLibrarySystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MMLibrarySystem/MMLibrarySystem/obj/Debug/MMLibrarySystem.csproj.FileListAbsolute.txt
MMLibrarySystem/MMLibrarySystem/obj/Debug/MMLibrarySystem.csprojResolveAssemblyReference.cache
MMLibrarySystem/MMLibrarySystem/obj/Debug/MMLibrarySystem.dll
MMLibrarySystem/MMLibrarySystem/obj/Debug/MMLibrarySystem.pdb
