*.suo
*.user
MMLibrarySystem/BookLibrary/obj
MMLibrarySystem/BookLibrary/bin
MMLibrarySystem/BookLibrary/App_Data
MMLibrarySystem/BookLibrary/Web.config
MMLibrarySystem/BookLibrary/*.log
MMLibrarySystem/Schedule/obj
MMLibrarySystem/Schedule/bin
MMLibrarySystem/Modules/obj
MMLibrarySystem/Modules/bin
MMLibrarySystem/Infrastructure/obj
MMLibrarySystem/Infrastructure/bin
MMLibrarySystem/ServiceInstaller/Debug
MMLibrarySystem/ServiceInstaller/Release
MMLibrarySystem/_ReSharper.MMLibrarySystem
Tools/GetExcelInfo/GetExcelInfo.suo
Tools/GetExcelInfo/GetExcelInfo/bin
Tools/GetExcelInfo/GetExcelInfo/obj
Tools/GetExcelInfo/GetExcelInfo/*.user
/Research/WebApiTest/packages
/Research/WebApiTest/WebApiEf/bin
/Research/WebApiTest/WebApiEf/obj
/Research/WebApiTest/WebApiEf/App_Data
/Research/WebApiTest/WebApiEf.Tests/bin
/Research/WebApiTest/WebApiEf.Tests/obj
