0.1
As a developer of the system,
I want to import book information from current SharePoint book list,
so that the admin doesn't have to input them manually again.


1.1
As a customer, 
I want to login the system as current domain user, without input user name and password,
so that I can access the book system seamlessly from a link (just like the SharePoint).

1.2 
As a customer, 
I want to find my favourite book by query with key words,
so that I could borrow or subscribe it.

1.3
As a customer, 
I want to filter the books to show only the ones in library,
so that I could find a borrowable book easily.

1.4
As a customer, 
I want to see the detailed information of the book, includes name, author, abstract, status etc.
so that I could know whether I like it and could borrow it.


2.1
As a customer, 
I want to borrow a book by one click, if the book has not been borrowed, and I have not borrowed 5 books,
so that I could check out the book from admin.

2.2
As a customer, 
I want to cancel borrow of a book by one click, if my borrow request of the book was accepted,
so that I could borrow other books under the limitation of total count.

2.3
As a customer,
I want my borrow request to be cancelled automatically, if I have not checked out it in one working day after I received the borrow accepted remind email,
so that other customer could borrow it.


3.1
As an admin,
I want to see all borrowed (either borrow accepted or checked out state) books in a table, include title, borrower, borrow date and return date,
so that I could check out or check in a book.

3.2
As an admin,
I want to check out a book by one click, if my borrow request of the book was accepted by the system,
so that I could record that the book was lend by a customer.

3.3
As an admin,
I want to check in a book by one click, if the book has been checked out,
so that I could record that the book was returned by a customer.

3.4
As an admin,
I want to register a new book into the library,
so that customer could borrow it.

3.5
As an admin,
I want to modify information of a book,
so that I could fix the typo.


4.1
As a customer, 
I want to subscribe a book by one click, if the book is borrowed by other customer, and I have not subscribed it, and I have not subscribed 5 books,
so that I could be in the subscribe list of the book.

4.2
As a customer, 
I want to cancel my subscribe of a book by one click, if the book has been subscribed by me,
so that I could subscribe other books under the limitation of total count.

4.3
As a customer,
I want my subscribe request to be converted to borrow request and accepted by the system automatically, when a book was returned or borrow request was cancelled by previous borrower, if I'm the first subscriber of the book,
so that I could check out the book from admin.


5.1
As a customer,
I want to receive a remind email after my borrow request was accepted by the system,
so that I could check out the book from admin.

5.2
As a customer,
I want to receive a remind email after my subscribe request was converted to borrow request and accepted by the system when I was the first subscriber,
so that I could check out the book from admin.

5.3
As a customer,
I want to receive a remind email one week before the return date,
so that I could catch up the progress.

5.4
As a customer,
I want to receive a remind email one day before the return date,
so that I could prepare to return it on time.

5.5
As a customer,
I want to receive a remind email every day after a book I borrowed has been out of the return date,
so that I could keep it in mind.


===================================================================================================
NOT IMPLED YET:

16. 
As an admin,
I want to receive a remind email when there are books have not been returned in time,
so that I could remind the borrowers face to face.

17. 
As a customer,
I want to fill a book request,
so that the manager could verify the request.

18. 
As a manager,
I want to receive a notify email when a customer requested a book,
so that I could approve or reject the request.

19. 
As an admin,
I want to receive a notify email when a book request was approved by the manager,
so that I could continue the paper works.

20. 
As an admin,
I want to print the book request form,
so that I could use it for paper works.

21. 
As an admin,
I want to get a report every month, to see all the books which out of return date, the most popular books, etc.
so that I could get familiar with status of the library.

22.
As a customer,
I want to write some comments on the book information page,
so that other customer could see the opinion of mine.
