@model IPagedList<MMLibrarySystem.Models.Book>

@{
    ViewBag.Title = "Book List";
}

@using (Ajax.BeginForm(new AjaxOptions()
{
    HttpMethod = "GET",    
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "bookList"
}))
{
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search by name or description" />
}

@Html.Partial("_BookList", Model)

<div class="pageList" mytarget="mytarget">
    @Html.PagedListPager(Model,page=>Url.Action("Index",new {page}),PagedListRenderOptions.MinimalWithItemCountText)
</div>