@{
    ViewBag.Title = "Guide for Guest";
}
<h2>Welcome to the M&M Book Library</h2>

<div>
    This is the book library system of the company.
</div>
<div>
    Please contact the admin to grant you the rights to borrow books.
</div>
