@{
    ViewBag.Title = "Welcome to the M&M Book Library";
}
<h2>Welcome to the M&M Book Library</h2>

<div>
    This is the book library system of the company.
</div>
<div>
    Rules: every one could borrow as much as 5 books at same time.
</div>